<section id="banner" class="section scrollspy">
	<div class="valign-wrapper page-title">
		<div class="valign center-align page-title-banner row">
			<h1 class="center-align col s12">UMOVIE</h1>
			<h5 class="center-align col s12">
			<i>Regardez autrement.</i>
			</h5>
		</div>
	</div>
</section>
<section id="presentation">
	<div class="valign-wrapper page-title">
		<div class="valign center" style="width: 100%">
			<div class="row">
				<div class="container">
					<h2 class="page-title-presentation">En résumé...</h2>
				</div>
			</div>
			<div class="row">
				<div class="col l4 m4  s12 valign-wrapper">
					<div class="block valign">
						<h5><i class="material-icons">tv</i> Regardez</h5>
						<p>Visionnez vos films et vos séries préférées</p>
					</div>
				</div>
				<div class="col l4 m4 s12 valign-wrapper">
					<div class="block valign">
						<h5><i class="material-icons">star</i> Suivez</h5>
						<p>Ne ratez jamais vos séries favorites grâce à vos <i>Watchlists</i></p>
					</div>
				</div>
				<div class="col l4 m4 s12 valign-wrapper">
					<div class="block valign">
						<h5><i class="material-icons">share</i> Partagez</h5>
						<p>Partagez vos watchlists avec vos amis</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<footer id="footer">
	<div class="row">
		<div class="container">
			<h5 class="white-text">Informations</h5>
			<p>
				Toutes les informations proviennents de Apple Inc.
				Ce projet a été créé dans un cadre pédagogique.
			</p>
			<h5 class="white-text">Pour nous contacter</h5>
			<p>
				<ul>
					<li>Pigeon voyageur</li>
					<li>Ligne 800 : arrêt Université Laval, pavillon Pouliot (On est souvent a l'ASETIN, demandez pour trouver)</li>
					<li></li>
				</ul>
			</p>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2017 Copyright UMOVIE
			<a class="grey-text text-lighten-4 right" href="https://github.com/GLO3102/umovie-h17-team-01-h17/"><img src="https://assets-cdn.github.com/favicon.ico" class="github-icon"> Github</a>
		</div>
	</div>
</footer>
<div class="wrapper-buttons">
	<button class="btn-floating btn-large transparent waves-effect waves-light" ng-click="buttonPageindicator('#banner')"><i class="material-icons">keyboard_arrow_up</i></button>
	<button class="btn-floating btn-large transparent waves-effect waves-light" ng-click="buttonPageindicator('#presentation')"><i class="material-icons">keyboard_arrow_down</i></button>
</div>