<div id="banner" class="section home-section valign-wrapper">
    <div class="valign center-align row">
        <h1 class="center-align col s12">UMOVIE</h1>
        <h5 class="center-align col s12">
        <i>{{ translate("bannersubtitle"); }}</i>
        </h5>
    </div>
</div>
<div class="parallax-container fullpage">
    <div class="parallax">
        <img src="images/home-cover.jpg">
    </div>
</div>
<div id="presentation" class="section home-section valign-wrapper">
    <div class="valign center-align row">
        <div class="col s12">
            <h2 class="page-title-presentation">{{ translate("presentationtitle"); }}</h2>
        </div>
        <div class="col l4 m4  s12 valign-wrapper">
            <div class="block valign">
                <h5><i class="material-icons">tv</i> {{ translate("watch-block-title"); }}</h5>
                <p>{{ translate("watch-block-text"); }}</p>
            </div>
        </div>
        <div class="col l4 m4 s12 valign-wrapper">
            <div class="block valign">
                <h5><i class="material-icons">star</i> {{ translate("follow-block-title"); }}</h5>
                <p>{{ translate("follow-block-text"); }}</p>
            </div>
        </div>
        <div class="col l4 m4 s12 valign-wrapper">
            <div class="block valign">
                <h5><i class="material-icons">share</i> {{ translate("share-block-title"); }}</h5>
                <p>{{ translate("share-block-text"); }}</p>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container fullpage">
    <div class="parallax">
        <img src="images/presentation-cover.jpg">
    </div>
</div>
<div id="join" class="section home-section valign-wrapper">
    <div class="valign center-align row threequarter">
        <h3>{{ translate('join_umovie_msg') }}</h3>
        <a class="btn-large waves-effect home-button-signup blue" href="/signup">
            <b>{{ translate('join_umovie_community'); }}</b>
        </a>
    </div>
</div>
<div class="parallax-container fullpage">
    <div class="parallax">
        <img src="images/joinus-cover.jpg">
    </div>
</div>
<footer id="footer" class="page-footer">
    <div class="row">
        <div class="container">
            <h5 class="white-text">{{ translate("footer-information"); }}</h5>
            <p>
                {{ translate("footer-information-text"); }}
            </p>
            <h5 class="white-text">{{ translate("footer-contact-text"); }}</h5>
            <p>
                <ul>
                    <li>{{ translate("footer-contact-1"); }}</li>
                    <li>{{ translate("footer-contact-2"); }}</li>
                    <li></li>
                </ul>
            </p>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Copyright UMOVIE
        </div>
    </div>
</footer>
<div class="wrapper-buttons hide-on-med-and-down">
    <ul>
        <li>
            <a class="btn-large waves-effect waves-light transparent" ng-click="buttonPageindicator('body')"><b>{{ translate("banner"); }}</b></a>
        </li>
        <li>
            <a class="btn-large waves-effect waves-light transparent" ng-click="buttonPageindicator('#presentation')"><b>{{ translate("presentation"); }}</b></a>
        </li>
        <li>
            <a class="btn-large waves-effect waves-light transparent" ng-click="buttonPageindicator('#join')"><b>{{ translate("join"); }}</b></a>
        </li>
        <li>
            <a class="btn-large waves-effect waves-light transparent" ng-click="buttonPageindicator('#footer')"><b>{{ translate("footer"); }}</b></a>
        </li>
    </ul>
</div>
