<div class="infofilmmain-content">
	<div class="contener-content">
		<div class="infofilm-content">
			<div class="contenerinfo">
				<div class="contenerimagefilm">
					<img src="http://img08.cdn.cinoche.com/images/fd020979cad837c067e6e45d8ed34f22.jpg" class="imagefilm-content">
					<div class="afterimagehover">
						<input type="image" src="http://www.iconsdb.com/icons/preview/gray/video-play-3-xxl.png" class="playbutton" />
					</div>
				</div>
				<div class="infofilmlink-content">
					<img width="20" height="20" src="http://vignette3.wikia.nocookie.net/logopedia/images/d/d5/ITunes_12.2_Apple_Music.png/revision/latest?cb=20150701064004">
					<a href="https://itunes.apple.com/us/movie/finding-nemo/id255295077" class="infofilmlink">Trouver Nemo</a>
				</div>
			</div>
			<div class="infofilmconteneurdesc-content">
				<ul class="infofilminfo-content">
					<li class="infofilmliste-content infofilmlisteun-content">Trouver Nemo</li>
					<li class="infofilmliste-content">Enfant</li>
					<li class="infofilmliste-content">2003</li>
					<li class="infofilmliste-content">Général</li>
				</ul>
				<p class="infofilmdescription-content">
					Dans les eaux tropicales de la Grande Barrière de corail, un poisson-clown du nom de Marin mène une existence paisible avec son fils unique, Nemo. Redoutant l'océan et ses risques imprévisibles, il fait de son mieux pour protéger son fils. Comme tous les petits poissons de son âge, celui-ci rêve pourtant d'explorer les mystérieux récifs.
				Lorsque Nemo disparaît, Marin devient malgré lui le héros d'une quête unique et palpitante. Le pauvre papa ignore que son rejeton à écailles a été emmené jusque dans l'aquarium d'un dentiste. Marin ne s'engagera pas seul dans l'aventure : la jolie Dory, un poisson-chirurgien bleu à la mémoire défaillante et au grand coeur, va se révéler d'une aide précieuse. Les deux poissons vont affronter d'innombrables dangers, mais l'optimisme de Dory va pousser Marin à surmonter toutes ses peurs.</p>
				
			</div>
		</div>
	</div>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/HsHo1F-duKU" frameborder="0" allowfullscreen class="infofilmvideo-content"></iframe>
</div>