<div class="infofilmmain-content">
    <div class="contener-content">
        <div class="infofilm-content">
            <div class="contenerinfo">
                <div class="contenerimagefilm">
                    <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjI3ODU0OTQ1MV5BMl5BanBnXkFtZTgwNzI0MTQ2MzE@._V1_UY1200_CR88,0,630,1200_AL_.jpg" class="imagefilm-content">
                </div>
                <div class="infofilmlink-content">
                    <a href="https://geo.itunes.apple.com/ca/tv-season/heroes-season-1/id196139170?l=fr" style="display:inline-block;overflow:hidden;background:url(//linkmaker.itunes.apple.com/assets/shared/badges/fr-fr/itunes-lrg.svg) no-repeat;width:110px;height:40px;background-size:contain;"></a>
                </div>
                <a class='btn center' data-target='demoModal' modal>Season 1</a>
            </div>
            <div class="infofilmconteneurdesc-content">
                <ul class="infofilminfo-content">
                    <li class="infofilmliste-content infofilmlisteun-content">{{tvShow.title}}</li>
                    <li class="infofilmliste-content">{{tvShow.genre}}</li>
                    <li class="infofilmliste-content">{{tvShow.releaseDate}}</li>
                    <li class="infofilmliste-content">{{tvShow.rating}}</li>
                </ul>
                <p class="infofilmdescription-content">
                    {{tvShow.description}}
                </p>
            </div>
        </div>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/9AX6aXFdTkc"  frameborder="0" allowfullscreen class="infofilmvideo-content"></iframe>
    <div id="demoModal" class="modal bottom-sheet black">
    <div class="modal-content black">
        <div class="collection black">
            <a href="#!" class="collection-item avatar black white-text" ng-repeat="episode in tvShow.episodes">
                <i class="material-icons circle red">play_arrow</i>
                <span class="title red-text">{{episode.title}}</span>
                <p>Episode {{$index + 1}}<br>
                    {{episode.runtime}}
                </p>

            </a>
        </div>
    </div>
</div>
</div>