<div class="row">
    <div class="container">
        <div class="col s6">
            <h1>{{ currentUser.name }}</h1>
        </div>
        <div class="col s6">
        </div>
        <div class="col s12">
            <ul class="tabs">
                <li class="tab">{{ translate("watchlists"); }}</li>
                <li class="tab">{{ translate("friends"); }}</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div id="watchlists"></div>
    <div id="friends"></div>
</div>
