<div class="row">
    <div class="watchlist">
        <div class="carousel carousel-custom" ng-repeat="watchlist in watchlists" id="{{ watchlist.id }}">
            <h4>{{ watchlist.name }}</h4>
            <a class="carousel-item" ng-repeat="movie in watchlist.movies" ng-dblclick="openModalinfofilm()">
                <img ng-src="{{ movie.artworkUrl100 }}" class="cover-carousel">
            </a>
            <span ng-if="$last" ng-init="$last?loadCarousel():null"></span>
        </div>
    </div>
    <div class="watchlist-shortcuts">
        <a class="btn btn-primary waves-effect waves-light btn transparent col s12" ng-repeat="watchlist in watchlists" ng-click="gotowatchlist(watchlist)">
            {{ watchlist.name }}
        </a>
    </div>
</div>
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div ng-include="'./views/infofilm.html'"></div>
    </div>
</div>
