<nav>
    <div class="nav-wrapper">
        <form class="searchbar-form">
            <div class="input-field searchbar">
                <input id="search" type="search" placeholder="{{ translate('search_watchlists') }}" ng-model="search" autocomplete="off">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
</nav>
<div ng-if="!oneWatchlist">
    <div class="row">
        <div class="col l3 list-watchlist hide-on-med-and-down" ng-if="watchlists.length > 0">
            <ul class="watchlist">
                <li class="tab col s12 {{ currentWatchlistId == watchlist.id ? 'active' : '' }}" ng-repeat="watchlist in watchlists | filter:search" ng-click="goToWatchlist(watchlist.id);">
                    {{ watchlist.name }}
                </li>
            </ul>
        </div>
        <div class="col l9 s12 watchlists">
            <div ng-repeat="watchlist in watchlists | filter:search" id="{{ watchlist.id }}">
                <div class="watchlist-header">
                    <h2 class="left">{{ watchlist.name }}</h2>
                    <div class="right">
                        <button class="btn waves-effect waves-light transparent btn-add-watchlist" data-target="modal-add-movies" ng-click="addMovies(watchlist)">
                        <i class="material-icons">add</i>
                        {{ translate('watchlist_add_button') }}
                        </button>
                        <a href="#!/watchlists/{{ watchlist.id }}" class="btn waves-effect waves-light transparent btn-edit-watchlist">
                            <i class="material-icons">mode_edit</i>
                            {{ translate('watchlist_edit_button') }}
                        </a>
                        <button class="btn waves-effect waves-light transparent btn-delete-watchlist" data-target="modal-confirmation-delete" ng-click="setDeletingWatchlist(watchlist)">
                        <i class="material-icons">delete</i>
                        {{ translate('watchlist_delete_button') }}
                        </button>
                    </div>
                </div>
                <div class="watchlist-body">
                    <div class="carousel carousel-custom" id="{{ watchlist.id }}" ng-if="watchlists.length > 0">
                        <a ng-if="!watchlist.movies.length" class="carousel-item" ng-init="loadCarousel()">
                            <div class="cover-carousel">
                                <div class="valign-wrapper icons-add-movies noselect" style="height: 295.516px" >
                                    <h1 class="valign center">{{ translate("no_movies"); }}</h1>
                                </div>
                            </div>
                        </a>
                        <a class="carousel-item cover" ng-if="watchlist.movies.length > 0" ng-repeat="movie in watchlist.movies">
                            <div class="overlay-cover">
                                <i class="material-icons">play_arrow</i>
                                <i class="material-icons" ng-click="selectMovie(movie)">info</i>
                                <i class="material-icons" ng-click="deleteMovie(movie, watchlist)">delete</i>
                            </div>
                            <img ng-src="{{ movie.artworkUrl100.replace('100x100', '400x400') }}" class="cover-carousel">
                            <span ng-if="$last" ng-init="loadCarousel()"></span>
                        </a>
                    </div>
                </div>
                <span ng-if="$first" ng-init="setInitialWatchlist(watchlist.id)"></span>
                <span ng-if="$last" ng-init="initWatchlists()"></span>
            </div>
        </div>
        <div class="center-align" ng-if="!watchlists.length">
            <h2>{{ translate('no_watchlists'); }}</h2>
            <h4>{{ translate('no_watchlists_instructions'); }}</h4>
        </div>
    </div>
    <div class="fixed-action-btn noselect">
        <a class="btn-floating btn-large blue" data-target="modal-add">
            <i class="large material-icons">add</i>
        </a>
    </div>
</div>
<div ng-if="oneWatchlist">
    <div class="row">
        <a href="#!/watchlists">
            <i class="material-icons" style="font-size: 35px; cursor: pointer">arrow_back</i>
        </a>
    </div>
    <div class="row">
        <div class="container">
            <div class="header" ng-click="editTitle()">
                <h1 style="display: inline" class="watchlist-title">{{ watchlist.name }}</h1> <i class="material-icons show-on-hover">mode_edit</i>
            </div>
            <div class="separator"></div>
            <div class="col l3 m4 s6" ng-repeat="movie in watchlist.movies | filter:search">
                <img ng-src="{{ movie.artworkUrl100.replace('100x100', '400x400') }}" style="width: 100%; height: auto" class="movie-cover">
                <i class="material-icons col s4 clickable">play_arrow</i>
                <i class="material-icons col s4 clickable" ng-click="selectMovie(movie)">info</i>
                <i class="material-icons col s4 clickable" ng-click="deleteMovie(movie, watchlist)">delete</i>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light blue" ng-click="addMovies(watchlist)" data-target="modal-add-movies"><i class="material-icons">add</i></a>
    </div>
</div>
<!-- modal-add -->
<div id="modal-add" class="modal">
    <form novalidate>
        <div class="modal-content">
            <h2>{{ translate('add_watchlist_title'); }}</h2>
            <div class="row">
                <div class="input-field col s12">
                    <input id="watchlist_name" name="watchlist_name" ng-model="watchlistName" type="text" class="validate" autocomplete="off" required>
                    <label for="watchlist_name">{{ translate("watchlist_name"); }}</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-yellow btn-flat"><i class="material-icons">close</i> {{ translate("button_cancel") }}</a>
            <a class="waves-effect waves-green btn-flat" ng-click="createWatchlist(watchlistName)"><i class="material-icons">check</i> {{ translate("button_create") }}</a>
        </div>
    </form>
</div>
<!-- modal delete -->
<div id="modal-confirmation-delete" class="modal">
    <div class="modal-content">
        <h3>
        {{ translate('msg_delete_confirmation') }} "{{ selectedWatchlist.name }}"
        </h3>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-yellow btn-flat" ng-click="deleteWatchlist(selectedWatchlist.id)"><i class="material-icons">delete</i> {{ translate("button_delete") }}</a>
        <a class="modal-action modal-close waves-effect waves-yellow btn-flat"><i class="material-icons">close</i> {{ translate("button_cancel") }}</a>
    </div>
</div>
<!-- modal infofilm -->
<div id="modal-infofilm" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div ng-include="'./views/infofilm.html'"></div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-yellow btn-flat"><i class="material-icons">close</i> {{ translate("button_close") }}</a>
    </div>
</div>
<!-- Modal add movies -->
<div id="modal-add-movies" class="modal modal-fixed-footer" style="height: 100%">
    <div class="modal-content" style="overflow-x: hidden; overflow-y: hidden;">
        <h4>{{ translate("add_movies_modal_title"); }}</h4>
        <div style="height: 247px">
            <nav>
                <div class="nav-wrapper">
                    <form class="searchbar-form">
                        <div class="input-field searchbar">
                            <input id="search-movies-input" type="search" placeholder="{{ translate('search_watchlists') }}" class="autocomplete" ng-model="searchMoviesInput" ng-model-options="{ debounce: 1000 }" autocomplete="off">
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                            <ul class="autocomplete-content dropdown-content" ng-hide="!searchMoviesInput" style="overflow-y: auto; height: 200px">
                                <li ng-repeat="movie in movies" class="movie-suggestion">
                                    <div class="left">
                                        <img ng-src="{{ movie.artworkUrl100.replace('100x100', '400x400') }}">
                                        <span style="color: white">
                                            {{ movie.trackName }}
                                        </span>
                                    </div>
                                    <a class="right" ng-click="addMovieToWatchlist(movie)">
                                        <i class="material-icons right">add</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </nav>
        </nav>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="stopSearchingMovies()">
            <span class="left">
                {{ translate("done"); }}
            </span>
            <i class="material-icons right">checked</i>
        </a>
    </div>
</div>
<!-- modal-confirmation-delete-movie-from-watchlists -->
<div id="modal-confirmation-delete-movie-from-watchlists" class="modal">
    <div class="modal-content">
        <h3>{{ translate("msg_confirmation_delete_movies_from_watchlist"); }}</h3>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-yellow btn-flat" ng-click="deleteWatchlist(selectedWatchlist.id)"><i class="material-icons">delete</i> {{ translate("button_delete") }}</a>
        <a class="modal-action modal-close waves-effect waves-yellow btn-flat"><i class="material-icons">close</i> {{ translate("button_cancel") }}</a>
    </div>
</div>
