.nav-wrapper {
    z-index: 999;
}

#banner {
    z-index: 53;
    min-width: 100%;
    min-height: 100vh;
    background: center no-repeat url(../images/home-cover.jpg);
}

#presentation {
    z-index: 53;
    min-width: 100%;
    min-height: 100vh;
    background: center no-repeat url(../images/presentation-cover.jpg);
}

.icon-flag {
    width: 15px;
}

.loginpage {
    height: 90vh;
    margin-right: auto;
    margin-left: auto;
}

.loginform {
    display: block;
    width: 100%;
}

.loginform input {
    height: 100px;
    font-size: 3rem;
}

.loginform input.ng-invalid {
    border-color: red;
}

.loginform label {
    font-size: 3rem;
}

.loginform .connection-button {
    background: transparent;
    font-size: 3rem;
}

.loginform button.connection-button[disabled] {
    background-color: rgba(50, 50, 50, 1) !important;
}

@media screen and (max-width: 480px) {
    .loginform input {
        font-size: 2rem;
        height: 50px;
    }
    .loginform label {
        font-size: 2rem;
    }
    .loginform .connection-button {
        background: transparent;
        font-size: 2rem;
    }
}

.page-title {
    width: 100%;
    height: 100vh;
}

.page-title-banner {
    text-shadow: black 1px 1px 4px;
}

.page-title-presentation {
    text-shadow: black 1px 1px 4px;
}

.page-title h1 {
    margin-right: auto;
    margin-left: auto;
}

.overlay-loading {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: black;
}


/*fix*/

.nav-wrapper form, .nav-wrapper form .input-field {
    width: 90%;
    height: 100%;
}

.dropdown-content {
    top: auto !important;
    background: black;
}

.dropdown-content li a {
    transition: background-color .3s;
    color: white;
}

.dropdown-content li a:hover {
    color: black;
    background-color: white;
}

.side-nav-input {
    color: black;
}

@media only screen and (min-width: 0) and (max-width: 760px) {
    #banner {
        background-size: 200%;
    }
    #presentation {
        background-size: 200%;
    }
}

.carousel-item-title {
    color: white;
}

.cover-carousel {
    border: 1px solid white;
    min-height: 295.516px;
}

.wrapper-buttons {
    position: fixed;
    z-index: 99;
    right: 10px;
    bottom: 10px;
    text-align: center;
}

.wrapper-buttons a {
    z-index: 99;
    width: 100%;
    color: white;
    border: 1px solid rgba(1, 1, 1, .2);
}

.carousel-custom {
    height: 500px;
    border-bottom: 1px solid white;
}

.wrapper-buttons a:hover, .button-wrapper-carousel a:hover {
    border: 1px solid white;
}

.block {
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, .6);
}

footer.page-footer {
    background-color: black;
}

.github-icon {
    width: 20px;
    filter: invert(100%);
}


/****************************/

body {
    color: white;
    background: black;
    font-family: globalRobotFont;
}

nav {
    background: black;
}

nav ul li.active a {
    border-bottom: 1px solid white;
}

nav ul li a {
    transition: all .3s;
    border-bottom: 1px solid transparent;
}

nav ul li a:hover {
    border-bottom: 1px solid white;
}


/*====================================================infofilm start=====================================================*/

.infofilm-content {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-bottom: 50px;
    padding-top: 0;
    justify-content: center;
}

.infofilminfo-content {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
}

.infofilmliste-content {
    padding-top: 0;
    padding-right: 10px;
    padding-left: 10px;
    border-left: solid darkgrey;
}

.infofilmlisteun-content {
    border-left: none;
}

.contener-content {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;
}

.infofilmconteneurdesc-content {
    padding-left: 15px;
}

.imagefilm-content {
    width: 200px;
    max-width: 95%;
    height: 300px;
    margin-top: 20px;
}

.infofilmdescription-content {
    text-align: justify;
}

.infofilmvideo-content {
    display: block;
    max-width: 95%;
    margin: 0 auto;
    border: solid black 1px;
}

.infofilmmain-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infofilmlink-content {
    display: flex;
    width: auto;
    margin-top: 23px;
    margin-right: 10px;
    transition: .4s;
    justify-content: center;
}

.infofilmlink-content:hover {
    transition: .4s;
    opacity: .6;
}

.imagefilm-content:hover {
    transition: all .3s;
    filter: brightness(50%);
}

.contenerimagefilm {
    position: relative;
    width: 200px;
    height: 300px;
    -webkit-transition: all 1s ease;
    opacity: 1;
}

.contenerimagefilm .afterimagehover {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    color: #fff;
}

.afterimagehover {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    opacity: 1;
    color: white;
}

.contenerimagefilm:hover .afterimagehover {
    display: block;
}

.contenerimagefilm:hover {
    -webkit-transition: all 1s ease;
    opacity: .5;
}

.playbutton {
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-left: 50px;
}

@media screen and (max-width: 990px) {
    .infofilm-content {
        display: flex;
        flex-direction: column;
        width: 400px;
        max-width: 95%;
        justify-content: center;
    }
    .contenerinfo {
        margin-right: auto;
        margin-left: auto;
    }
    .infofilminfo-content {
        display: flex;
        flex-wrap: wrap;
    }
}


/*================================================infofilm end============================================*/

.navbar-fixed {
    z-index: 999;
}


/****************************/

@font-face {
    font-family: 'globalRobotFont';
    src: url(./fonts/Roboto-Thin.ttf);
}


/*================================================Tvshow==================================================*/

.episode-container {
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px black;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px white;
}

#episode-carousel {
    top: 20px;
    width: 300px;
    height: 200px;
}

#episode-carousel img {
    width: 300px;
    height: 200px;
}


/*================================================Tvshow end==================================================*/

.modal .modal-content {
}

.btn {
    margin-top: 10px;
}

.modal {
    background: rgba(25, 25, 25, 1);
}

.modal-content h4 {
    font-weight: bold;
}

.modal-content {
    color: white;
}

#actor {
    min-height: 93vh;
    padding-top: 30px;
    padding-bottom: 30px;
    background: no-repeat center fixed url(../images/actor-cover.jpg);
    background-position: top left;
}

#actor a {
    color: white;
}

.actorcontent img {
    width: auto;
    max-width: 100%;
    height: auto;
}

.modal iframe {
    min-width: 100%;
}

.modal img {
    width: auto;
    max-width: 100%;
    height: auto;
}

#actor a:hover {
    font-weight: bold;
}

.card-custom-theme {
    background-color: #1b1b1b;
}

.modal-footer {
    background-color: rgb(25, 25, 25) !important;
}

.modal-footer a {
    color: white;
    text-shadow: 0px 0px 10px 0px black;
}

.searchbar-form, .searchbar {
    width: 100% !important;
}

.searchbar input:focus {
    font-size: 2em;
    color: black !important;
    font-weight: bold;
}

@media screen and (max-width: 990px) {
    .button-watchlist-wrapper {
        width: 100%;
        text-align: center;
    }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#modal-confirmation-delete {
    transform: translateY(60%) !important;
}

.icons-add-movies i {
    width: 100%;
    font-size: 100px;
    color: white;
    transition: font-size 0.5s;
}

.icons-add-movies i:hover {
    font-size: 150px;
    cursor: pointer;
}

.watchlist {
    background-color: black;
    height: auto;
}

.watchlist .tab {
    text-align: left;
    display: block;
    padding: 20px;
    border-bottom: transparent 1px solid;
    transition: border-bottom 0.5s;
}

.watchlist .tab.active {
    background-color: white;
    color: black;
}

.watchlist .tab:hover {
    background-color: grey;
    color: black;
    cursor: pointer;
}

.watchlist .tab a {
    color: white;
}

.list-watchlist {
    position: fixed;
    overflow: auto !important;
    background-color: #121212;
    height: 86%;
    overflow-y: hidden;
}

.watchlists {
    position: fixed;
    height: 86%;
    left: 25% !important;
    overflow: hidden;
}

@media screen and (max-width: 992px) {
    .watchlists {
        left: 0px !important;
        overflow-y: auto;
    }
}

.show-on-hover {
    display: none;
}

.separator {
    margin-top: 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid white;
}

.movie-cover {
    height: 369.2978px;
    border: 1px solid white;
    background-color: black;
    transition: all 0.2s;
}

.movie-cover:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

.movie-suggestion li {
    color: white !important;
}

.movie-suggestion li:hover {
    color: black !important;
}
