.nav-wrapper {
    z-index: 999;
}

#banner {
    background: center no-repeat url(../images/home-cover.jpg);
    z-index: 53;
    min-height: 100vh;
    min-width: 100%;
}

#presentation {
    background: center no-repeat url(../images/presentation-cover.jpg);
    z-index: 53;
    min-height: 100vh;
    min-width: 100%;
}

.icon-flag {
    width: 15px;
}

.loginpage {
    margin-left: auto;
    margin-right: auto;
    height: 90vh;
}

.loginform {
    display: block;
    width: 100%;
}

.loginform input {
    font-size: 3rem;
    height: 100px;
}

.loginform input.ng-invalid {
    border-color: red;
}

.loginform label {
    font-size: 3rem;
}

.loginform .connection-button {
    background: transparent;
    font-size: 3rem;
}

.loginform button.connection-button[disabled] {
    background-color: rgba(50, 50, 50, 1) !important;
}

.page-title {
    height: 100vh;
    width: 100%;
}

.page-title-banner {
    text-shadow: black 1px 1px 4px;
}

.page-title-presentation {
    text-shadow: black 1px 1px 4px;
}

.page-title h1 {
    margin-right: auto;
    margin-left: auto;
}

.overlay-loading {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background: black;
}

/*fix*/
.nav-wrapper form, .nav-wrapper form .input-field {
    height: 100%;
    width: 90%;
}

.dropdown-content {
    top: auto !important;
    background: black;
}

.dropdown-content li a {
    color: white;
    transition: background-color 0.3s;
}

.dropdown-content li a:hover {
    color: black;
    background-color: white;
}

.side-nav-input {
    color: black;
}

@media only screen and (min-width : 0px) and (max-width : 760px) {
    #banner {
        background-size: 200%;
    }

    #presentation {
        background-size: 200%;
    }

}

.wrapper-buttons {
    z-index: 99;
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: center;
}

.wrapper-buttons a {
    z-index: 99;
    border: 1px solid rgba(1,1,1,0.2);
    color: white;
    width: 100%;
}

.button-wrapper-carousel {
    text-align: center;
}

.button-wrapper-carousel a {
    border: 1px solid rgba(1,1,1,0.2);
    transition: all 1s;
    width: 49%;
 }

.wrapper-buttons a:hover, .button-wrapper-carousel a:hover {
    border: 1px solid white;
}

.block {
    display: block;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
}

footer.page-footer {
    background-color: black;
}

.github-icon {
    filter: invert(100%);
    width: 20px;
}
/****************************/

body {
    background: black;
    color: white;
    font-family: globalRobotFont;
}

nav {
    background: black;
}

nav ul li.active a {
    border-bottom: 1px solid white;
}

nav ul li a {
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
}

nav ul li a:hover {
    border-bottom: 1px solid white;
}

/*====================================================infofilm start=====================================================*/

.infofilm-content{
    padding-top: 0px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    width:auto;
    margin-bottom: 50px;
}

.infofilminfo-content{
    width: auto;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.infofilmliste-content{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    border-left: solid darkgrey;
}

.infofilmlisteun-content{
    border-left: none;
}

.contener-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
}

.infofilmconteneurdesc-content{
    padding-left: 15px;
}

.imagefilm-content{
    height: 300px;
    width: 200px;
    margin-top: 20px;
    max-width: 95%
}

.infofilmdescription-content{
    text-align: justify;
}

.infofilmvideo-content{
    display: block;
    margin: 0 auto;
    border:solid black 1px;
    max-width: 95%;
}

.infofilmmain-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infofilmlink-content{
	display: flex;
	width: auto;
	margin-top: 23px;
	margin-right: 10px;
	justify-content: center;
	transition: 0.4s;
}

.infofilmlink-content:hover{
	opacity: 0.6;
	transition: 0.4s;
}

.imagefilm-content:hover{
    filter: brightness(50%);
    transition: all 0.3s;
}

.contenerimagefilm{
    position: relative;
    width: 200px;
    height: 300px;
    opacity: 1;
    -webkit-transition: all 1s ease;
}

.contenerimagefilm .afterimagehover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}

.afterimagehover{
    margin-top: 20px;
    color: white;
    opacity: 1;
    height: 100%;
    width: 100%;
}


.contenerimagefilm:hover .afterimagehover {
    display: block;
}

.contenerimagefilm:hover{
    opacity: 0.5;
    -webkit-transition: all 1s ease;
}

.playbutton{
    cursor: pointer;
    margin-top: 100px;
    margin-left: 50px;
}


@media screen and (max-width: 990px){
    .infofilm-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 400px;
        max-width: 95%;
    }

    .contenerinfo{
        margin-left: auto;
        margin-right: auto;
    }

    .infofilminfo-content{
        display: flex;
        flex-wrap: wrap;
    }
}

/*================================================infofilm end============================================*/
.navbar-fixed {
    z-index: 999;
}

/****************************/

@font-face {
    font-family: "globalRobotFont";
    src: url(./fonts/Roboto-Thin.ttf);
}

/*================================================Tvshow==================================================*/

.episode-container{
	display: flex;
	justify-content: center;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px black;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px white;
}

#episode-carousel {
    top:20px;
    width:300px;
    height: 200px;
}

#episode-carousel img {
    width:300px;
    height: 200px;
}

/*================================================Tvshow end==================================================*/

.modal .modal-content{
    padding: 0;
    padding-right: 5px;
    margin: 0;
}

.btn{
	margin-top: 10px;

.modal {
	background: rgba(25, 25, 25, 1);
}

.modal-content h4 {
	font-weight: bold;
}

.modal-content {
	color: white;
}

#actor {
	padding-top: 30px;
	padding-bottom: 30px;
	background: no-repeat center fixed url(../images/actor-cover.jpg);
	min-height: 93vh;
	background-position: top left;
}

#actor a {
	color: white;
}

.actorcontent img {
	max-width: 100%;
	height: auto;
	width: auto;
}

.modal iframe {
	min-width: 100%;
}

.modal img {
	max-width: 100%;
	height: auto;
	width: auto;
}

#actor a:hover {
	font-weight: bold;
}

/*******************************************************/
.card-custom-theme {
    background-color: #1b1b1b;
}
/*******************************************************/

.